Flask==2.0.1
flask-cors
opencv-python-headless
mediapipe==0.10.31
Werkzeug==2.0.3
numpy
gunicorn==20.1.0
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dotenv
Pillow
tensorflow-cpu
gdown
reportlab
google-api-python-client

