Flask==2.3.0
flask-cors
opencv-python-headless
mediapipe
Werkzeug==2.3.0
numpy>=1.22,<1.25
gunicorn==21.0.0
requests
python-dotenv
fer
imageio
imageio-ffmpeg
Pillow
tensorflow-cpu==2.13.0
keras==2.13.0
gdown
reportlab

